.mdl-selectfield__select {
    padding: 5px 8px;
    border: 3px;
}

.mdl-layout__title {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
}

.education-logo {
    background: url(../img/map.png) 50% no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
    margin: auto auto 10px;
}

.is-compact .education-logo {
    height: 50px;
    width: 50px;
    margin-top: 7px;
}

.education-footer {
    position: relative;
    background-image: url(../img/header-bg.png);
}

.education-logo-row {
    color: black;
}
  
.education-footer .mdl-layout__header-row {
padding: 0;
-webkit-justify-content: center;
    -ms-flex-pack: center;
        justify-content: center;
}